# IntelliJ/Android Studio
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/studiobot.xml
.idea/AndroidProjectSystem.xml
.idea/migrations.xml
.idea/.name
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/runConfigurations.xml
.idea/deviceManager.xml
.idea/misc.xml
.idea/planningMode.xml

# Project specific
GEMINI.md
CLAUDE.md
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
